<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    平时写一些编程技术随笔主要还是写一些php方面的
    <br>
    交流可以加qq<strong>2312892231</strong>
    <!-- 自行配置公告内容结束 -->
</div>